<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/root.css" />
  </head>
  <body>
    <section>
      <h1>Login</h1>
      <form method="post" action="/auth/login">
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="you@domain.com"
            required
          />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div>
          <button type="submit">Login</button>
        </div>
      </form>
      <!-- Display any error messages here from express-flash -->
      <% if(flashMessages.length > 0) { %>
        <div id="flash-message-display">
          <%= flashMessages %>
        </div>
        <% } %>
    </section>
  </body>
</html>
