<!DOCTYPE html>
<!-- TODO: 
 Take in input from a user using a textbox and somehow get it to move data
 have a submit button for chat
 CREATE a buffer of chat data
 display this stuff somewhere(?) on a page
 THIS IS JUST THE FRONT END FOR THE CHAT, IT TAKES IN INPUT AND SENDS IT TO CLIENTCHAT.TS
-->

<html>

<section>
    TYPE YOUR CHAT MESSAGE HERE:

    <form id="chatbox" class="flex flex-row h-[20px] mt-[8px]">
        <input ">
    </form>

    <p>
        <input type="text" name="chatInput" id="chatInput">

        <!-- this is the section for the form, above takes in input, below submits as a form-->
        <button id="submitButton">
            Send 
        </button>

    </p>
</section>
<script src="/js/clientchat.js"></script>
<!--<script src="/src/server/config/sockets.ts"></script> --->
</html>