<!doctype html>
<!-- TODO: 
 Take in input from a user using a textbox and somehow get it to move data
 have a submit button for chat
 CREATE a buffer of chat data
 display this stuff somewhere(?) on a page
 THIS IS JUST THE FRONT END FOR THE CHAT, IT TAKES IN INPUT AND SENDS IT TO CLIENTCHAT.TS
-->

<html>
  <form id="chatBox">
    <div id="messageContainer"></div>
    <label for="chatBox">Message</label>
    <input
      type="text"
      placeholder="Message goes here..."
      id="chatInput"
      name="chatInput"
      class="form-control"
      required
    />
    <button id="submitButton">Send</button>
  </form>

  <!-- Below we are using the file that webpack generated form our ts folder in the client -->
  <script src="/js/clientchat.js"></script>
  <!--<script src="/src/server/config/sockets.ts"></script> --->
</html>
