<html>
  <head>
    <title>Bingo Game Screen</title>
    <link rel="stylesheet" href="/css/root.css" />
  </head>
  <body>
    <h1>Bingo Game Screen</h1>

    <!-- Keep script tag at bottom of the body -->
    <script src="./js/main.js"></script>
  </body>
</html>
