<html>
  <head>
    <title>Landing Page Authenticated</title>
    <link rel="stylesheet" href="/css/root.css" />
  </head>
  <body>
    <h1>Landing Page Authenticated</h1>

    <nav>
      <li><a href="http://localhost:3000/auth/login">log off</a></li>
      <li><a href="http://localhost:3000/auth/login">profile</a></li>
    </nav>

    <article>
      Welcome to Bingo!
    </article>

    <section>
      List of game:
      bing
      bong
      poo
    </section>

    <aside>
      <div>
        Hello chat (Now you can use this)
      </div>
      <form>
        <label for="all-chat"> Speak here: </label><br>
        <input type="text" id="all-chat" name="all-chat" value="Write your message here">
        <input type="submit" id="send-msg" name="all-chat-send" value="Submit">
      </form>
    </aside>

    <!-- Keep script tag at bottom of the body -->
    <script src="/js/main.js"></script>
  </body>
</html>
