<html>
  <head>
    <title>Hello from ejs</title>
    <link rel="stylesheet" href="/css/root.css" />
  </head>
  <body>
    <h1>Hello there my favorite color is <%= info %></h1>

    <!-- Keep script tag at bottom of the body -->
    <script src="./js/main.js"></script>
  </body>
</html>
