<html>
  <head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="/css/root.css" />
  </head>
  <body>
    <h1>Sign Up Page</h1>

    <!-- Keep script tag at bottom of the body -->
    <script src="/js/main.js"></script>
  </body>
</html>
