<html>
  <head>
    <title>Bingo Game Screen</title>
    <link rel="stylesheet" href="/css/root.css" />
  </head>
  <body>
    <h1><%= title %></h1>

    <section>
      The list of numbers already chosen
    </section>

    <section>
      The center roller thing that outputs the next number

      <input type="button" id="roll-no" name="roll-no" value="Let's go gambling baybee">
    </section>

    <section>
      The bingo set that the player is given
      
    </section>

    <section>
      The win button
      <input type="button" id="turn-in" name="turn-in" value="Winner chicken dinner aka BINGO!">
    </section>

    <!-- Keep script tag at bottom of the body -->
    <script src="/js/main.js"></script>
  </body>
</html>
